## IMPORTS FROM OTHER PACKAGES
import(methods, RCurl)
importFrom(RJSONIO, toJSON, fromJSON)

## EXPORT METHODS
exportMethods(
getRepo,
downloadRepo,
installRepo
)


## EXPORT CLASSES
exportClasses(
githubRepo
)
