## IMPORTS FROM OTHER PACKAGES
import(methods, RCurl)
importFrom(RJSONIO, toJSON, fromJSON)
importFrom(devtools, install)

## PACKAGE HAS A DYNAMIC LIBRARY
useDynLib(rGithubClient)

## EXPORT METHODS
exportMethods(
getRepo,
downloadRepo,
downloadRepoBlob,
installRepo,
onWeb
)


## EXPORT CLASSES
exportClasses(
githubRepo
)
