## IMPORTS FROM OTHER PACKAGES
import(methods, RCurl)
importFrom(RJSONIO, toJSON, fromJSON)

## EXPORT METHODS
exportMethods(
.getGitURL,
.getCommit,
.getCommitTree,
.getCommitFiles,
mirrorRepo
)


## EXPORT CLASSES
exportClasses(
)
